* {
    margin: 0;
    padding: 0;
    height: auto;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#item {
    width: 200px;
    height: 200px;
    padding: 10px;
    margin: 10px;
}