<div id="account">
    <div id="divIcon">
        <img src="assets/img/conta.png" id="iconImg" >
        <h5>Minha Conta</h5>
    </div>
</div>
<div id="store">
    <div id="divIcon">
        <img src="assets/img/favoritos.png" id="iconImg" >
        <h5>Favoritos</h5>
    </div>
    <div id="divIcon">
        <img src="assets/img/pedidos.png" id="iconImg" >
        <h5>Meus Pedidos</h5>
    </div>
    <div id="divIcon">
        <img src="assets/img/carrinho.png" id="iconImg" >
        <h5>Carrinho</h5>
    </div>
</div>